In [1]:
!pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in /opt/conda/lib/python3.7/site-packages (2.8.5)

In [2]:
import psycopg2

In [3]:
connection = psycopg2.connect(
    database = "capstone_project",
    user = "udacity",
    password = "udacity",
    host = "172.28.1.2",
    port = "5432"
)

cursor = connection.cursor()

In [4]:
create_asn = ("""
    CREATE TABLE IF NOT EXISTS asn(
        network                         VARCHAR,
        autonomous_system_number        INTEGER,
        autonomous_system_organization  VARCHAR
    );
""")

cursor.execute(create_asn)
connection.commit()

In [5]:
cursor.execute('INSERT INTO asn (network, autonomous_system_number, autonomous_system_organization) VALUES (%s, %s, %s)', ("223.255.254.0", 55415, "MARINA BAY SANDS PTE LTD"))

In [4]:
cursor.execute("""SELECT count(*) FROM asn;""")

a = cursor.fetchall()

print(a)

[(436882,)]

In [6]:
cursor.execute("""SELECT network_id FROM city_blocks LIMIT 5;""")

b = cursor.fetchall()

print(b)

[('116.27.160',), ('116.27.192',), ('116.27.224',), ('116.27.228',), ('116.27.232',)]

In [12]:
connection.close()
cursor.close()

In [4]:
cursor.execute("""SELECT count(*) FROM asn;""")
asn = cursor.fetchall()

cursor.execute("""SELECT count(*) FROM city_blocks;""")
city_blocks = cursor.fetchall()

cursor.execute("""SELECT count(*) FROM city_locations;""")
city_locations = cursor.fetchall()

print(asn)
print(city_blocks)
print(city_locations)

[(436882,)]
[(3122209,)]
[(118481,)]