In [1]:
!pip install psycopg2-binary

Collecting psycopg2-binary
  Downloading psycopg2_binary-2.8.5-cp37-cp37m-manylinux1_x86_64.whl (2.9 MB)
     |████████████████████████████████| 2.9 MB 3.8 MB/s eta 0:00:01
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.8.5

In [2]:
import psycopg2

In [3]:
connection = psycopg2.connect(
    database = "capstone_project",
    user = "udacity",
    password = "udacity",
    host = "172.28.1.2",
    port = "5432"
)

cursor = connection.cursor()

cursor.execute("DROP TABLE IF EXISTS packets;")
connection.commit()

cursor.execute("DROP TABLE IF EXISTS originate_packets;")
connection.commit()

cursor.execute("DROP TABLE IF EXISTS response_packets;")
connection.commit()

cursor.execute("DROP TABLE IF EXISTS city_blocks;")
connection.commit()

cursor.execute("DROP TABLE IF EXISTS asn;")
connection.commit()

cursor.execute("DROP TABLE IF EXISTS city_locations;")
connection.commit()

connection.close()
cursor.close()

In [9]:
connection = psycopg2.connect(
    database = "capstone_project",
    user = "udacity",
    password = "udacity",
    host = "172.28.1.2",
    port = "5432"
)

cursor = connection.cursor()

# cursor.execute("SELECT count(*) FROM packets;")
# cursor.execute("SELECT DISTINCT insert_date FROM packets;")
# cursor.execute("SELECT * FROM packets LIMIT 1;")
# cursor.execute("SELECT * FROM packets JOIN originate_packets ON packets.uid = originate_packets.uid LIMIT 10")
cursor.execute("SELECT * FROM packets JOIN asn ON packets.response_network_id = asn.uid LIMIT 10")

a = cursor.fetchall()
print(a)

connection.close()
cursor.close()

[('1525879831', 'CUmrqr4svHuSXJy5z7', '192.168.100', '65.127.233', 'tcp', '-', '2.999051', 'S0', 0, 'S', '(empty)', 'Malicious', 'PartOfAHorizontalPortScan', datetime.date(2018, 5, 9), 'CUmrqr4svHuSXJy5z7', '192.168.100.103', 51524, '0', '-', 3, 180, datetime.date(2018, 5, 9)), ('1525879831', 'CH98aB3s1kJeq6SFOc', '192.168.100', '63.150.16', 'tcp', '-', '-', 'S0', 0, 'S', '(empty)', 'Malicious', 'PartOfAHorizontalPortScan', datetime.date(2018, 5, 9), 'CH98aB3s1kJeq6SFOc', '192.168.100.103', 56305, '-', '-', 1, 60, datetime.date(2018, 5, 9)), ('1525879831', 'C3GBTkINvXNjVGtN5', '192.168.100', '111.40.23', 'tcp', '-', '-', 'S0', 0, 'S', '(empty)', 'Malicious', 'PartOfAHorizontalPortScan', datetime.date(2018, 5, 9), 'C3GBTkINvXNjVGtN5', '192.168.100.103', 41101, '-', '-', 1, 60, datetime.date(2018, 5, 9)), ('1525879832', 'CDe43c1PtgynajGI6', '192.168.100', '131.174.215', 'tcp', '-', '2.998796', 'S0', 0, 'S', '(empty)', 'Malicious', 'PartOfAHorizontalPortScan', datetime.date(2018, 5, 9), 'CDe43c1PtgynajGI6', '192.168.100.103', 60905, '0', '-', 3, 180, datetime.date(2018, 5, 9)), ('1525879832', 'CJaDcG3MZzvf1YVYI4', '192.168.100', '91.42.47', 'tcp', '-', '-', 'S0', 0, 'S', '(empty)', 'Malicious', 'PartOfAHorizontalPortScan', datetime.date(2018, 5, 9), 'CJaDcG3MZzvf1YVYI4', '192.168.100.103', 44301, '-', '-', 1, 60, datetime.date(2018, 5, 9)), ('1525879832', 'CMBrup3BLXivSp4Avc', '192.168.100', '120.210.108', 'tcp', '-', '-', 'S0', 0, 'S', '(empty)', 'Malicious', 'PartOfAHorizontalPortScan', datetime.date(2018, 5, 9), 'CMBrup3BLXivSp4Avc', '192.168.100.103', 50244, '-', '-', 1, 60, datetime.date(2018, 5, 9)), ('1525879833', 'CfHl9r3XMYtDQRrHnh', '192.168.100', '147.7.65', 'tcp', '-', '2.998804', 'S0', 0, 'S', '(empty)', 'Benign', '-', datetime.date(2018, 5, 9), 'CfHl9r3XMYtDQRrHnh', '192.168.100.103', 34243, '0', '-', 3, 180, datetime.date(2018, 5, 9)), ('1525879833', 'C7USrA15nFVkniMqC5', '192.168.100', '145.164.35', 'tcp', '-', '-', 'S0', 0, 'S', '(empty)', 'Benign', '-', datetime.date(2018, 5, 9), 'C7USrA15nFVkniMqC5', '192.168.100.103', 34840, '-', '-', 1, 60, datetime.date(2018, 5, 9)), ('1525879834', 'CDtZ4so7bHKpIeCmi', '192.168.100', '177.75.151', 'tcp', '-', '-', 'S0', 0, 'S', '(empty)', 'Malicious', 'PartOfAHorizontalPortScan', datetime.date(2018, 5, 9), 'CDtZ4so7bHKpIeCmi', '192.168.100.103', 58525, '-', '-', 1, 60, datetime.date(2018, 5, 9)), ('1525879834', 'Cj9lm7amKnWiNDh9c', '192.168.100', '94.145.70', 'tcp', '-', '-', 'S0', 0, 'S', '(empty)', 'Malicious', 'PartOfAHorizontalPortScan', datetime.date(2018, 5, 9), 'Cj9lm7amKnWiNDh9c', '192.168.100.103', 43849, '-', '-', 1, 60, datetime.date(2018, 5, 9))]

In [16]:
create_testing = ("""
    CREATE TABLE IF NOT EXISTS testing (
        uid                             VARCHAR NOT NULL,
        host                            VARCHAR,
        port                            INTEGER,
        bytes                           VARCHAR,
        local                           VARCHAR,
        packets                         INTEGER,
        ip_bytes                        INTEGER,
        insert_date                     DATE NOT NULL,
        PRIMARY KEY (uid, insert_date)
    ) PARTITION BY RANGE (insert_date);
""")

cursor.execute(create_testing)
connection.commit()

In [17]:
create_testing_2018_09_01 = ("""
    CREATE TABLE IF NOT EXISTS testing_2018_09_01 PARTITION OF testing FOR VALUES FROM ('2018-09-01') TO ('2018-09-02');
""")

cursor.execute(create_testing_2018_09_01)
connection.commit()

In [19]:
cursor.execute("""
    INSERT INTO testing (
        uid,
        host,
        port,
        bytes,
        local,
        packets,
        ip_bytes,
        insert_date
    ) VALUES (%s, %s, %s, %s, %s, %s, %s, %s)
""", ("223.255.254.2", "55415", 55415, "55415", "MARINA BAY SANDS PTE LTD", 55415, 55415, '2018-09-01'))
connection.commit()

In [21]:
cursor.execute("""SELECT * FROM testing WHERE insert_date = '2018-09-01';""")

a = cursor.fetchall()

print(a)

[('223.255.254.1', '55415', 55415, '55415', 'MARINA BAY SANDS PTE LTD', 55415, 55415, datetime.date(2018, 9, 1)), ('223.255.254.2', '55415', 55415, '55415', 'MARINA BAY SANDS PTE LTD', 55415, 55415, datetime.date(2018, 9, 1))]

In [23]:
# SELECT count(*) FROM originate_packets WHERE insert_date = '2018-05-09';
cursor.execute("""SELECT * FROM packets WHERE insert_date = '2018-05-09' LIMIT 5;""")

b = cursor.fetchall()

print(b)

[]

In [14]:
connection.close()
cursor.close()

In [10]:
cursor.execute("""SELECT count(*) FROM asn;""")
asn = cursor.fetchall()

cursor.execute("""SELECT count(*) FROM city_blocks;""")
city_blocks = cursor.fetchall()

cursor.execute("""SELECT count(*) FROM city_locations;""")
city_locations = cursor.fetchall()

print(asn)
print(city_blocks)
print(city_locations)

[(436882,)]
[(3122209,)]
[(118481,)]

In [35]:
connection = psycopg2.connect(
    database = "capstone_project",
    user = "udacity",
    password = "udacity",
    host = "172.28.1.2",
    port = "5432"
)

cursor = connection.cursor()

cursor.execute("DROP TABLE IF EXISTS packets;")
connection.commit()

cursor.execute("DROP TABLE IF EXISTS city_blocks;")
connection.commit()

cursor.execute("DROP TABLE IF EXISTS asn;")
connection.commit()

cursor.execute("DROP TABLE IF EXISTS city_locations;")
connection.commit()

create_city_locations = ("""
    CREATE TABLE IF NOT EXISTS city_locations (
        geoname_id                      INTEGER NOT NULL UNIQUE,
        locale_code                     VARCHAR,
        continent_code                  VARCHAR,
        continent_name                  VARCHAR,
        country_iso_code                VARCHAR,
        country_name                    VARCHAR,
        subdivision_1_iso_code          VARCHAR,
        subdivision_1_name              VARCHAR,
        subdivision_2_iso_code          VARCHAR,
        subdivision_2_name              VARCHAR,
        city_name                       VARCHAR,
        metro_code                      VARCHAR,
        time_zone                       VARCHAR,
        is_in_european_union            INTEGER,
        PRIMARY KEY (geoname_id)
    )
""")

cursor.execute(create_city_locations)
connection.commit()

create_asn = ("""
    CREATE TABLE IF NOT EXISTS asn (
        network_id                      VARCHAR NOT NULL UNIQUE,
        network                         VARCHAR,
        autonomous_system_number        INTEGER,
        autonomous_system_organization  VARCHAR,
        PRIMARY KEY (network_id)
    )
""")

cursor.execute(create_asn)
connection.commit()

create_city_blocks = ("""
    CREATE TABLE IF NOT EXISTS city_blocks (
        network_id                      VARCHAR NOT NULL UNIQUE,
        network                         VARCHAR,
        geoname_id                      INTEGER,
        registered_country_geoname_id   INTEGER,
        represented_country_geoname_id  INTEGER,
        is_anonymous_proxy              INTEGER,
        is_satellite_provider           INTEGER,
        postal_code                     VARCHAR,
        latitude                        FLOAT,
        longitude                       FLOAT,
        accuracy_radius                 INTEGER,
        PRIMARY KEY (network_id, geoname_id, registered_country_geoname_id, represented_country_geoname_id),
        FOREIGN KEY (geoname_id) REFERENCES city_locations (geoname_id),
        FOREIGN KEY (registered_country_geoname_id) REFERENCES city_locations (geoname_id),
        FOREIGN KEY (represented_country_geoname_id) REFERENCES city_locations (geoname_id)
    )
""")

cursor.execute(create_city_blocks)
connection.commit()

create_packets = ("""
    CREATE TABLE IF NOT EXISTS packets (
        timestamp VARCHAR,
        uid VARCHAR,
        originate_network_id VARCHAR,
        response_network_id VARCHAR,
        protocol VARCHAR,
        service VARCHAR,
        duration VARCHAR,
        connection_state VARCHAR,
        local_originate VARCHAR,
        local_response VARCHAR,
        missed_bytes VARCHAR,
        history VARCHAR,
        tunnel_parents VARCHAR,
        label VARCHAR,
        detailed_label VARCHAR,
        insert_date DATE,
        PRIMARY KEY (uid, originate_network_id, response_network_id, insert_date),
        FOREIGN KEY (originate_network_id) REFERENCES city_blocks (network_id),
        FOREIGN KEY (response_network_id) REFERENCES city_blocks (network_id),
        FOREIGN KEY (originate_network_id) REFERENCES asn (network_id),
        FOREIGN KEY (response_network_id) REFERENCES asn (network_id)
    ) PARTITION BY RANGE (insert_date);
""")

cursor.execute(create_packets)
connection.commit()

connection.close()
cursor.close()

In [3]:
connection = psycopg2.connect(
    database = "capstone_project",
    user = "udacity",
    password = "udacity",
    host = "172.28.1.2",
    port = "5432"
)

cursor = connection.cursor()

cursor.execute("DROP TABLE IF EXISTS packets;")
connection.commit()

cursor.execute("DROP TABLE IF EXISTS originate_packets;")
connection.commit()

cursor.execute("DROP TABLE IF EXISTS response_packets;")
connection.commit()

cursor.execute("DROP TABLE IF EXISTS city_blocks;")
connection.commit()

cursor.execute("DROP TABLE IF EXISTS asn;")
connection.commit()

cursor.execute("DROP TABLE IF EXISTS city_locations;")
connection.commit()

In [29]:
create_asn = ("""
    CREATE TABLE IF NOT EXISTS asn (
        network_id                      VARCHAR NOT NULL,
        network                         VARCHAR,
        autonomous_system_number        INTEGER,
        autonomous_system_organization  VARCHAR,
        PRIMARY KEY (network_id)
    )
""")

cursor.execute(create_asn)
connection.commit()

In [30]:
create_city_locations = ("""
    CREATE TABLE IF NOT EXISTS city_locations (
        geoname_id                      INTEGER NOT NULL,
        locale_code                     VARCHAR,
        continent_code                  VARCHAR,
        continent_name                  VARCHAR,
        country_iso_code                VARCHAR,
        country_name                    VARCHAR,
        subdivision_1_iso_code          VARCHAR,
        subdivision_1_name              VARCHAR,
        subdivision_2_iso_code          VARCHAR,
        subdivision_2_name              VARCHAR,
        city_name                       VARCHAR,
        metro_code                      VARCHAR,
        time_zone                       VARCHAR,
        is_in_european_union            INTEGER,
        PRIMARY KEY (geoname_id)
    )
""")

cursor.execute(create_city_locations)
connection.commit()

In [31]:
create_city_blocks = ("""
    CREATE TABLE IF NOT EXISTS city_blocks (
        network_id                      VARCHAR NOT NULL UNIQUE,
        network                         VARCHAR,
        geoname_id                      INTEGER,
        registered_country_geoname_id   INTEGER,
        represented_country_geoname_id  INTEGER,
        is_anonymous_proxy              INTEGER,
        is_satellite_provider           INTEGER,
        postal_code                     VARCHAR,
        latitude                        FLOAT,
        longitude                       FLOAT,
        accuracy_radius                 INTEGER,
        PRIMARY KEY (network_id, geoname_id, registered_country_geoname_id, represented_country_geoname_id),
        FOREIGN KEY (geoname_id) REFERENCES city_locations (geoname_id),
        FOREIGN KEY (registered_country_geoname_id) REFERENCES city_locations (geoname_id),
        FOREIGN KEY (represented_country_geoname_id) REFERENCES city_locations (geoname_id)
    )
""")

cursor.execute(create_city_blocks)
connection.commit()

In [32]:
create_originate_packets = ("""
    CREATE TABLE IF NOT EXISTS originate_packets (
        uid         VARCHAR NOT NULL,
        host        VARCHAR,
        port        VARCHAR,
        bytes       VARCHAR,
        packets     VARCHAR,
        ip_bytes    VARCHAR,
        PRIMARY KEY (uid)
    )
""")

cursor.execute(create_originate_packets)
connection.commit()

In [33]:
create_response_packets = ("""
    CREATE TABLE IF NOT EXISTS response_packets (
        uid         VARCHAR NOT NULL,
        host        VARCHAR,
        port        VARCHAR,
        bytes       VARCHAR,
        packets     VARCHAR,
        ip_bytes    VARCHAR,
        PRIMARY KEY (uid)
    )
""")

cursor.execute(create_response_packets)
connection.commit()

In [34]:
create_packets = ("""
    CREATE TABLE IF NOT EXISTS packets (
        timestamp VARCHAR,
        uid VARCHAR NOT NULL,
        originate_network_id VARCHAR NOT NULL,
        response_network_id VARCHAR NOT NULL,
        protocol VARCHAR,
        service VARCHAR,
        duration VARCHAR,
        connection_state VARCHAR,
        local_originate VARCHAR,
        local_response VARCHAR,
        missed_bytes VARCHAR,
        history VARCHAR,
        tunnel_parents VARCHAR,
        label VARCHAR,
        detailed_label VARCHAR,
        insert_date DATE NOT NULL,
        PRIMARY KEY (uid, originate_network_id, response_network_id, insert_date),
        FOREIGN KEY (originate_network_id) REFERENCES city_blocks (network_id),
        FOREIGN KEY (response_network_id) REFERENCES city_blocks (network_id),
        FOREIGN KEY (originate_network_id) REFERENCES asn (network_id),
        FOREIGN KEY (response_network_id) REFERENCES asn (network_id),
        FOREIGN KEY (uid) REFERENCES originate_packets (uid),
        FOREIGN KEY (uid) REFERENCES response_packets (uid)
    ) PARTITION BY RANGE (insert_date);
""")

cursor.execute(create_packets)
connection.commit()

In [4]:
connection.close()
cursor.close()